<h1 align='center'>Ad-Analytics

In [1]:
# !pip install easyocr

In [3]:
import cv2
# import easyocr
from IPython.display import Image
from PIL import Image
import requests
from io import BytesIO
import numpy as np
import os
import pandas as pd
import urllib

In [4]:
# reader = easyocr.Reader(['en'])

In [10]:
advertisement_df = pd.read_excel('Sample Data for Creative Analysis.xlsx')

In [11]:
advertisement_df.head()

,Object ID,Results,Cost Per Result,CTR,Creative Attachment,Link
0,1,29536,186,1.48,988,https://www.facebook.com/ads/image/?d=AQII31oc...
1,2,97570,280,1.90,1125,https://www.facebook.com/ads/image/?d=AQJlmbY5...
2,3,75089,166,1.00,3326,https://aiquire-attachments.s3.ap-south-1.amaz...
3,4,92104,111,1.97,725,https://www.facebook.com/ads/image/?d=AQL1me3x...
4,5,60378,429,0.33,344,https://www.facebook.com/ads/image/?d=AQKAE109...

In [12]:
advertisement_df.isnull().sum()

Object ID              0
Results                0
Cost Per Result        0
CTR                    0
Creative Attachment    0
Link                   0
dtype: int64

In [13]:
#returns the keywords in the form of list.
def GetKeyWords(_imageContent):
    keyWords = []
    words = ""
    joiners = ""
    totalContent = len(_imageContent)
    words=[_imageContent[count][1] for count,content in enumerate(_imageContent) if count<totalContent]
    for word in words:
        joiners+=word+" "
    keyWords = joiners.split(" ")  
    return keyWords[0:-1]

In [8]:
# download's the image and read the text in it.
def GetImageFromURL(_url):
    filename = "downloadedImage.jpg"
    try:
        urllib.request.urlretrieve(_url,filename)
        output = reader.readtext(filename)
        retrieved_keywords = GetKeyWords(output)
        os.remove(filename)
    except:
        empty = ['null']
        return empty
    
    return retrieved_keywords

In [14]:
advertisement_df.Link.nunique()

3357

In [15]:
advertisement_df['image_id'] = advertisement_df.groupby(['Link']).ngroup()
advertisement_df.head()

,Object ID,Results,Cost Per Result,CTR,Creative Attachment,Link,image_id
0,1,29536,186,1.48,988,https://www.facebook.com/ads/image/?d=AQII31oc...,509
1,2,97570,280,1.90,1125,https://www.facebook.com/ads/image/?d=AQJlmbY5...,1675
2,3,75089,166,1.00,3326,https://aiquire-attachments.s3.ap-south-1.amaz...,176
3,4,92104,111,1.97,725,https://www.facebook.com/ads/image/?d=AQL1me3x...,2647
4,5,60378,429,0.33,344,https://www.facebook.com/ads/image/?d=AQKAE109...,2013

In [16]:
#subsetting only data with unique image url link
image_df = advertisement_df.drop_duplicates(['image_id'])
print(image_df.shape)

(3357, 7)

In [18]:
image_df.to_csv("ImgAdvertisement_df.csv",index=False)

In [19]:
%%time
image_df["Key_Words"] = image_df.Link.apply(GetImageFromURL)
image_df.to_csv("New_GroupedData.csv",index=False)

In [ ]:
image_df.head()